@keyframes workflow-spinner-fade {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.workflow-spinner {
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.workflow-spinner-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.workflow-spinner-inner div {
  box-sizing: content-box;
  left: 47%;
  top: 24%;
  position: absolute;
  animation: workflow-spinner-fade linear 1s infinite;
  background: currentColor;
  width: 6%;
  height: 12%;
  border-radius: 50% / 50%;
  transform-origin: 50% 260%;
}

.workflow-spinner-inner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
}

.workflow-spinner-inner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
}

.workflow-spinner-inner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
}

.workflow-spinner-inner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
}

.workflow-spinner-inner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
}

.workflow-spinner-inner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
}

.workflow-spinner-inner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
}

.workflow-spinner-inner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
}

.workflow-spinner-inner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
}

.workflow-spinner-inner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
}

.workflow-spinner-inner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
}

.workflow-spinner-inner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
